# This is a basic workflow to help you get started with Actions

name: Test Install Scoop.

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  build:
    runs-on: windows-latest
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v4

      - name: Run a one-line script
        run: irm get.scoop.sh | iex

      - name: Run a multi-line script
        run: |
          echo "Hello World",
          scoop --version
